<!-- {% extends 'base.html' %} -->

{% block content %}

  <!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form> -->

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {{scoree}}
  {% endif %}

  <!-- <p><a href="">Return to home</a></p> -->




  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file"  name="myfile">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <!-- <button type="submit">Upload</button> -->
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
   <i class="material-icons right">send</i>
 </button>
  </form>
{% endblock %}
