<!-- {% extends 'base.html' %} -->

{% block content %}
  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="file-field input-field">
      <div class="btn waves-effect waves-light btn-large blue">
        <span>File</span>
        <input type="file"  name="myfile">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <!-- <button type="submit">Upload</button> -->
    <button class="btn waves-effect waves-light btn-large blue" style="width: 100%;" type="submit" name="action">Submit
   <i class="material-icons right">send</i>
 </button>
  </form>
{% endblock %}
